.room {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card:nth-child(2n + 1) {
    flex-direction: row;
  }
  .card:nth-child(2n + 0) {
    flex-direction: row-reverse;
  }
}

.card {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-body {
  color: #999;
}

.mb-6 {
  margin-bottom: 6rem;
}

.carousel {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 100%;
}
.carousel-item img {
  height: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.list li {
  margin-right: 1rem;
}

@media screen and (max-width: 991px) {
  .room-container {
    padding: 0;
  }
}
