/* .slider-container {
  max-width: 1000px;
  padding: 2rem 3rem;
  background: #e6e6e6;
  margin: 2rem auto 0 auto;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.slider-container:before {
  content: ".slider-container";
  position: absolute;
  left: 0;
  top: 0;
  color: blue;
}
img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
.my-slider {
  position: relative;
}
.slider-item {
  background: grey;
  border-right: 2px solid #333;
  padding: 1.5rem 0.75rem;
  position: relative;
}
.slider-item:before {
  content: ".slider-item";
  position: absolute;
  left: 0;
  top: 0;
  color: blue;
}
.slider-item:hover {
  cursor: pointer;
}
.controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  background: #333;
  width: 100%;
  top: 50%;
  transform: translatey(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls:focus {
  outline: none;
}
.controls li:hover {
  cursor: pointer;
}
.card {
  text-align: center;
  margin: 0 auto;
  max-width: 200px;
  color: #333;
  background: white;
  border-radius: 5px;
  padding-bottom: 0.75rem;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}
.card:before {
  content: ".card";
  position: absolute;
  bottom: 0;
  color: blue;
}
.card img {
  margin-bottom: 0.25rem;
}
.card h2 {
  margin: 0 0 0.25rem;
}
.card p {
  margin: 0;
  padding: 0 0.5rem;
} */

.team-boxed {
  color: #313437;
  /* background-color: #eef4f7; */
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-boxed .intro p {
  margin-bottom: 0;
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .item {
  text-align: center;
  padding-bottom: 1.5rem;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-boxed .item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}
